DivineRightConcept/DivineRightConcept/bin
DivineRightConcept/DivineRightConcept/obj
DivineRightConcept/DivineRightConceptContent/obj
DivineRightConcept/DivineRightConcept/DivineRightConcept.csproj.Debug.cachefile